services:
  php_container:
    build:
      context: etc/infrastructure
      dockerfile: php.Dockerfile
    container_name: php_container
    volumes:
      - ./:/app
    depends_on:
      - mysql_container
      - rabbitmq_container
    working_dir: /app
    ports:
      - '9001:9000'
    networks:
      - activities_aggregator-network

  nginx_container:
    image: nginx:latest
    container_name: nginx_container
    ports:
      - '8000:80'
    volumes:
      - ./etc/infrastructure/nginx/conf.d:/etc/nginx/conf.d
      - ./:/app
    depends_on:
      - php_container
    networks:
      - activities_aggregator-network

  mysql_container:
    image: mysql:latest
    container_name: mysql_container
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWD}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWD}
    restart: unless-stopped
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - activities_aggregator-network

  redis_container:
    image: redis:latest
    container_name: redis_container
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - activities_aggregator-network

  redis-insight_container:
    image: redis/redisinsight:latest
    container_name: redis-insight_container
    restart: unless-stopped
    ports:
      - "5540:5540"
    volumes:
      - redis-insight-data:/data
    networks:
      - activities_aggregator-network
    depends_on:
      - redis_container

  rabbitmq_container:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq_container
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - "5672:5672"   # AMQP port
      - "15672:15672" # Management UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - activities_aggregator-network

  opensearch_container:
    image: opensearchproject/opensearch:latest
    container_name: opensearch_container
    environment:
      - discovery.type=${OPENSEARCH_DISCOVERY_TYPE}
      - bootstrap.memory_lock=${OPENSEARCH_MEMORY_LOCK}
      - OPENSEARCH_JAVA_OPTS=${OPENSEARCH_JAVA_OPTS}
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${OPENSEARCH_ADMIN_PASSWORD}
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    networks:
      - activities_aggregator-network

  opensearch_dashboards_container:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch_dashboards_container
    ports:
      - "5601:5601"
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch_container:9200"]'
      OPENSEARCH_USERNAME: ${OPENSEARCH_DASHBOARDS_USER}
      OPENSEARCH_PASSWORD: ${OPENSEARCH_ADMIN_PASSWORD}
      OPENSEARCH_SSL_VERIFICATION_MODE: "none"
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: true
    depends_on:
      - opensearch_container
    networks:
      - activities_aggregator-network

volumes:
  mysql_data:
  redis_data:
  redis-insight-data:
  rabbitmq_data:
  opensearch_data:

networks:
    activities_aggregator-network:
      driver: bridge
