services:
  php_container:
    build:
      context: etc/infrastructure
      dockerfile: php.Dockerfile
    container_name: php_container
    volumes:
      - ./:/app
    depends_on:
      - mysql_container
    working_dir: /app
    ports:
      - '9001:9000'
    networks:
      - redis-network

  nginx_container:
    image: nginx:latest
    container_name: nginx_container
    ports:
      - '8000:80'
    volumes:
      - ./etc/infrastructure/nginx/conf.d:/etc/nginx/conf.d
      - ./:/app
    depends_on:
      - php_container
    networks:
      - redis-network

  mysql_container:
    image: mysql:latest
    container_name: mysql_container
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWD}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWD}
    restart: unless-stopped
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - redis-network

  redis_container:
    image: redis:latest
    container_name: redis_container
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - redis-network

  redis-insight_container:
    image: redis/redisinsight:latest
    container_name: redis-insight_container
    restart: unless-stopped
    ports:
      - "5540:5540"
    volumes:
      - redis-insight-data:/data
    networks:
      - redis-network
    depends_on:
      - redis_container

volumes:
  mysql_data:
  redis_data:
  redis-insight-data:

networks:
    redis-network:
      driver: bridge
