<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache">
  <extensions>
    <bootstrap class="Test\BypassFinalHook"/>
  </extensions>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Shared</directory>
    </exclude>
  </source>
  <coverage includeUncoveredFiles="true">
    <report>
      <html outputDirectory="build/test_results/phpunit/coverage-html"/>
      <text outputFile="build/test_results/phpunit/coverage.txt"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="build/test_results/phpunit/junit.xml"/>
  </logging>
</phpunit>
